<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">home</a>
        </li>
        {% if user.is_authenticated%}
        <li>
          <a href="/tasks">tasks</a>
        </li>
        <li>
          <a href="{%url 'tasks_complete'%}">tasks complete</a>
        </li>
        <li>
          <a href="/tasks/create">create task</a>
        </li>
        <li>
          <a href="/logout">logout</a>
        </li>
        {%else%}
        <li>
          <a href="/signup">signup</a>
        </li>
        <li>
          <a href="/signin">signin</a>
        </li>
        {%endif%}
      </ul>
    </nav>
    {% block content%} {% endblock%}
  </body>
</html>
